# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
.vercel/
.astro/

# Environment Variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
.Desktop.ini

# Editor Directories
.vscode/
.idea/
*.swp
*.swo

# Project specific
/public/tmp/
